/* CSS Styles for equinoxtattoo.com
	Adam Bailey 2015
	===============================*/

*{
	font-family: 'Roboto Condensed', sans-serif;
}

body {
	overflow-x:hidden;
	padding-top:40px;
	color:#fff;
	font-size:16px;
}

section{
	height:100%;	
}

.nav-tabs a, h1,h2,h3{
	font-family: 'Julius Sans One', sans-serif;
}

h1{
	font-size:50px;
}

h1 i{
	color:#fff;
}


i{
	color:#90ccc2;
}

.title{
	font-size: 50px;
}

.panel-title{
	color:#000;
	font-weight:bold;
	text-shadow:none;
}

.panel-title i{
	color:#000;
	font-weight:bold;
	text-shadow:none;
}

.panel-success > .panel-heading{
	background:#90ccc2;
}

footer{
	margin-top: 80px;
	margin-bottom:20px;
}

/* Home Page Styles
================================================================*/
.top{
	background: #1c1e22;
}

.jumbotron{
	border-bottom: 0;
}
.carousel{
	min-height:500px;
	margin-bottom:10px;
}

.carousel-caption{
	z-index:10;
	text-align: left;
	top:70px;
	right:10%;
	left:10%;
	font-size:22px;
}

.carousel .item{
	height:500px;
	background-color: #777;
}

.carousel-inner > .item > img{
	position:absolute;
	top:0;
	left:0;
	min-width:100%;
	height:500px;
}

.inner-image{
	width:100%;
}

.art-gallery{
	margin-bottom:30px;
}

.event-list{
	margin-bottom:30px;
}

/* About Page Styles
================================================================*/

.about{
	margin-top:40px;
}

.nav-tabs{
	font-size: 20px;
}
.tab-pane{
	padding:10px;
}

#faqlink{
	padding-top:52px;
}


/* Artist Page Styles
=================================================================*/

.grid-item { 
	width: 215px; 
}

.artists{
	text-align:center;
	margin-bottom:40px;
	padding-bottom: 20px;
	border-bottom:solid 2px #000;
}

.artist img {
	width: 400px;
}

.lb-data .lb-number {
	font-size: 18px;
}

/* Link States
================================================================*/

a{
	color:#90ccc2;
}

/*.tab-pane a{*/
/*	color:#90ccc2;*/
/*}*/

a:hover{
	text-decoration: none;
	color:#fff;
}

a:visited{
	text-decoration:none;
}

a:active{
	text-decoration:none;
}

.panel-title a{
	color:#000;
}

.btn-success{
	color:#000;
	background:#90ccc2 !important;
	font-weight:bold;
	text-shadow:none;
}
.btn-success:hover{
	color:#ddd !important;
	background:#5FA89C !important;
	font-weight:bold;
	text-shadow:none;
}

.btn-success:active{
	color:#ddd !important;
	background:#5FA89C !important;
}

.form-group .active{
	color:#000 !important;
	background:#90ccc2 !important;
	font-weight:bold;
	text-shadow:none;
}

/* Media Queries
==============================================================*/

@media(max-width:900px){
	.jumbotron img{
		width:30%;
	}
	.navbar-header{
		float:none;
	}
	.navbar-left, .navbar-right{
		float:none!important;
	}
	.navbar-toggle{
		display:block;
	}
	.navbar-collapse{
		border-top:1px solid transparent;
		box-shadow:inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top{
		top:0;
		border-width:0 0 1px;
	}
	.navbar-collapse.collapse{
		display:none !important;
	}
	.navbar-nav{
		float:none;
		margin-top:7.5px;
	}
	.navbar-nav > li{
		float:none;
	}
	.navbar-nav > li > a{
		padding-top:10px;
		padding-bottom:10px;
		border-right:none;
	}
	.collapse.in{
		display:block !important;
	}

}

@media(max-width:770px) {
	.carousel-caption{
	top:0;
	font-size:16px;
	}
	.grid-item{ 
	width: 165px; 
	}
}