/config/
/includes/databaseConnection.php

/fonts/

/store/

/images/

.well-known

# Logs and databases #
######################
*.log
*.sql

# Images #
##########
*.jpg
*.gif
*.png
*.svg
*.ico

# Sublime #
###########
*.sublime-workspace